[submodule "packages/imitation"]
	path = packages/imitation
	url = git@github.com:meghbhalerao/imitation.git
[submodule "environments/flappy-bird-gym"]
	path = environments/flappy-bird-gym
	url = git@github.com:meghbhalerao/flappy-bird-gym.git
